#footer {
  background-color: $color_bg_orange;
  padding: 15px 0;

  p {
    color: $color_white;
    font-size: 0.83125em;
    letter-spacing: 0.05263158em;
    margin: 0;
    text-align: center;
  }
}